* {
    font-family: 'Roboto', sans-serif;
    color: var(--complementary);

}

:root {
    --primary: #010638;
    --secondary: #0084ff;
    --complementary: white;
}


body {
    min-height: 100vh;
    background-image: url(/img/background3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: background-animation 4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.footer {
    background: transparent;
    position: sticky;
    bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#home, #cv, #contact {
    background-color: rgba(2, 40, 255, 0.89);
    padding: 15px;
    box-shadow: black 1px;
    animation: text-animation 2s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(rgba(255, 255, 255, 0), white) 1;
}

.project-navbar {
    background-color: var(--primary);
    border-bottom: solid var(--secondary) 1px;
    animation: navbar-animation 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar-brand img {
    /*     border-radius: 50% !important; */
/*     width: 40px;
    height: 40px; */
}

.mytoggler {
    border-color: var(--secondary) !important;
}

a i {
    color: var(--secondary);
    transition: all 0.25s;
}

a i:hover {
    color: var(--complementary);
    transition: all 0.25s;
}

.navbar-collapse .navbar-nav .nav-link {
    color: var(--secondary);
    transition: all 0.25s;
}

.navbar-collapse .navbar-nav .nav-link:visited {
    color: var(--secondary);
    transition: all 0.25s;
}

.navbar-collapse .navbar-nav .nav-link:hover {
    color: var(--complementary);
    transition: all 0.25s;
}

.navbar-collapse .navbar-nav .nav-link.active {
    color: var(--complementary);
    transition: all 0.25s;
}



.musthead {
    min-height: 90vh;
}