* {
    font-family: 'Roboto', sans-serif;
    color: var(--complementary);

}

:root {
    --primary: #010638;
    --secondary: #0084ff;
    --complementary: white;
}


body {
    min-height: 100vh;
    /*     background: linear-gradient(rgba(255, 255, 255, 0.575) 20%, var(--primary)); */
    background-image: url(/img/background3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.footer {
    background: transparent;
    position: absolute;
    bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#home, #cv, #contact {
    background-color: rgba(2, 40, 255, 0.596);
    padding: 15px;
    box-shadow: black 1px;
    animation: text-animation 2s;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(rgba(255, 255, 255, 0), white) 1;
}

.project-navbar {
    background-color: var(--primary);
    border-bottom: solid var(--secondary) 1px;
    animation: navbar-animation 2s;
}

.navbar-collapse .navbar-nav .nav-link {
    color: var(--secondary);
    transition: all 0.25s;
}

.navbar-collapse .navbar-nav .nav-link:visited {
    color: var(--secondary);
    transition: all 0.25s;
}

.navbar-collapse .navbar-nav .nav-link:hover {
    color: var(--complementary);
    transition: all 0.25s;
}

.navbar-collapse .navbar-nav .nav-link.active {
    color: var(--complementary);
    transition: all 0.25s;
}



.musthead {
    min-height: 90vh;
}